/* css code */
body {
    font-family: Arial, sans-serif;
    background-color: #111011;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: rgb(49, 45, 50);
    /* background-color: aqua; */
    padding: 10px  ;
    margin-top: 10px;
    border-radius: 50px;
    box-shadow: 0 0 15px rgba(0,0,0, 0.2);
    text-align: center;
    min-height: 210px;
    min-width: 300px;
    display: grid;
    grid-template-columns: auto 1fr;
    max-width: 767px;
    
    /* свечение */
    position: relative;
    box-shadow: 
        0 0 15px rgba(0, 0, 0, 0.2),
        0 0 120px rgba(255, 105, 180, 0.3),  /* розовый */
        0 0 200px rgba(65, 105, 225, 0.2);   /* синий */
}

.info {
    padding: 0 10px 0 10px;
    max-width: 150px;
    min-width: 70px;

}

.info h1{
    color: aliceblue;

    font-size: 20px;
    max-width: 110px;
    background-color:rgb(35, 32, 35);
    border-radius: 50px;
    padding: 16px;

}
.info p {
    color: rgb(201, 201, 201)
}

.info ul {
    text-align: left;
}


.info a {
    text-decoration:  none;
    text-align: left;
    color: silver;
}

.info a:hover {
    text-decoration: underline;
}


.profile {
    min-width: 110px;
    min-height: 70px;
    background-color: rgb(35, 32, 35);
    padding: 10px 10px 10px 10px ;
    margin: 10px 10px 10px 10px;
    border-radius: 20vh;
    box-shadow: 0 0 15px rgba(0,0,0, 0.2);
    align-self: center;
    text-align: center;
    object-fit: cover;
}

.profile h1 {
    font-size: 14px;
    color:aliceblue;
}

.profile img {
    min-width: 60px;
    max-width: 110px;
    border-radius: 50%;
    border: #050505;
    border-width: 5px ;
}


@media (max-width: 767px){
    .card {
        padding: 10px  ;
        border-radius: 50px;
        align-items: center;
        display: grid;
        grid-template-columns: auto 1fr;



    }
 
    .profile {
        justify-content: center;
        padding-bottom: 50px;
        min-width: 80px;
        min-height: 80px;
        max-width: 80px;
        max-height: 90px;
        width: 10vh;
        height: 10vh;
    }

    .profile img {
        max-width: 80px;
        max-height: 80px;
    }

    .info {
        /* background-color: aqua; */
        min-width: 70px;
    }

    .info h1{
        font-size: 24px;
    }
    .info p {
        font-size: 16px;
    }

    .profile img {
        padding: 0.05vh;
    }
}

